body{

height: 100vh;

}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Section-one */

.header{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
   
}

.section-one-container{
    height: 400px;
    background-color: #A67B5B;
    color: 	#ffffff;
    display: flex;
    justify-content: center;
    min-width: 900px;
}

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    min-width: 300px; 
    /* min-width ensures that it can flex, better responsiveness for smaller screens, need to learn more, when to use min and max for widths and heights*/
    
}

.section-one-top {
    display: flex;
    justify-content: space-between;
    height: 200px;

}
.section-one-top-links{
    display: flex;
    min-width: 600px;
    justify-content: space-evenly;
    font-size: 18px ;
    font-variant: all-small-caps;
    margin: 13px;

}

.header-title{
    font-size: 30px;
    font-weight: 500;
    font-variant: small-caps;
    margin-top:3px;
}

.section-one-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.text-section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 300px;
}

.img-section{
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: flex-end;
  

}

.main-text{
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;

    
}

.sub-text{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-stretch: condensed;

}



/* Section-two */

.section-two-container{
    height: 400px;
    display: flex;
    justify-content: center;
    min-width: 900px;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    
}

.items
{
    display: flex;
    gap: 50px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.item-1-top,
.item-2-top,
.item-3-top,
.item-4-top {

    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.item-1-top{
    background-color: #d7a96e;
}

.item-2-top{
    background-color: #AD9277;
}

.item-3-top {

    background-color: #BCADA3;
}

.item-4-top{
    background-color: #4E2F2E
}


.item-1-bottom,
.item-2-bottom,
.item-3-bottom,
.item-4-bottom {

    font-size: 16px;
    font-weight: 500;
    font-variant: all-small-caps;

}


.info 
{
    margin-top: 40px;
    font-size: 28px;
    font-variant: all-small-caps;
    font-weight: 600;
    font-stretch: condensed;
}



/* Section-three */

.section-three-container{
    height: 300px;
    background-color: #fff8e7 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;
}

.section-three {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
}


/* Section-four */

.section-four-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;

}

.section-four{
    background-color: #6F4E37;
    color: #ffffff;
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    
    }

.call-to-action{
    font-size: 24px;
    font-weight: bold;
    color: #f6f6f6;
    margin-bottom: 10px;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    color: #000000;
    font-variant: all-small-caps;
    font-stretch: condensed;
}

.quote{
    display: flex;
    justify-content: flex-start;

}

/* Footer */
.footer{
    height: 50px;;
    background-color: #A67B5B;
    color: 	#ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    min-width: 900px;
}

.copyright {
    display: flex;
    /* min-width: 900px;   */
    /* make sure for later */
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}

/* button */

button:hover{
    background-color: #f6f6f6;
    color: #000000;
}

button{
    background-color:#6F4E37;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-variant: all-small-caps;
}



/* Highlighted for Future */


/* 
div{
    border: 1px solid red;
} */


/* 
.header {
    width: 300px ;
    height: 200px;

} */
