*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Section-one */

.section-one-container{
    height: 400px;
    background-color: #A67B5B;
    color: 	#ffffff;
    display: flex;
    justify-content: center;

}

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 1000px;
}

.section-one-top {
    display: flex;
    justify-content: space-between;
    height: 200px;

}
.section-one-top-links{
    display: flex;
    width: 600px;
    justify-content: space-around;
    font-size: 18px ;
    font-variant: small-caps;
    margin: 5px;

}

.header-title{
    font-size: 25px;
    font-weight: 500;
    font-variant: small-caps;
}

.section-one-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}

.text-section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 300px;
}

.img-section{
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: flex-end;
  

}

.main-text{
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;

    
}

.sub-text{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-stretch: condensed;

}



/* Section-two */

.section-two-container{
    height: 300px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box-1,
.box-2,
.box-3,
.box-4 {
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    border: 3px solid #6F4E37;
    border-radius: 10px;
}

.boxes{
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}

.info {
    display: flex;
    width: 800px;
    /* border: 1px solid red; */
    justify-content: center;
    font-size: 30px;
    font-variant: all-small-caps;


}


.section-two {
    height: 250px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* Section-three */

.section-three-container{
    height: 300px;
    background-color: #fff8e7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
}


/* Section-four */

.section-four-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-four{
    background-color: #6F4E37;
    color: #ffffff;
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    
    }

.call-to-action{
    font-size: 24px;
    font-weight: bold;
    color: #f6f6f6;
    margin-bottom: 10px;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    color: #000000;
}

.quote{
    display: flex;
    justify-content: flex-start;

}

/* Footer */
.footer{
    height: 50px;;
    background-color: #A67B5B;
    color: 	#ffffff;
    font-weight: 600;
    display: flex;
}

.copyright {
    display: flex;
    width: 100vw;   /* make sure for later */
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}


/* Button */

button{
    background-color:#6F4E37;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-variant: small-caps;
}

/* Image */


img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid rgb(240, 240, 240);
}



/* Highlighted for Future */



/* div{
    border: 1px solid red;
} */


/* 
.header {
    width: 300px ;
    height: 200px;

} */

